@model OnlineStore.Models.ViewModel.SuccesViewModel
@{
    ViewData["Title"] = "Purchase made";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Checkout Page Start -->
<div class="container">
    <img src="~/assets/img/thankYou.png" class="img-center">
</div>

<!-- Checkout page end -->


